<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Sending Email</title>
   <!--Custom Css-->

    <style>
  *{
    box-sizing: border-box;/*espacion inter and exter*/
    margin: 0;
    padding: 0;
  }

  .logoIcon{
    width: 230px;/*hacer pequemas imagenes*/
    filter: brightness(150%);
    background-color: black; 
  }
  .container{
    width: 100%;
    max-width: 600px; /*max-width: 1250px;*/
    padding: 0;
    background-color: rgb(248, 248, 248); 
  }
  
  .text-center{
    text-align: center;
    color: #000000;
  }  

    </style>
</head>

<body>
  <div class="container text-center " >
    <div>
      <img  class="logoIcon " src="https://testingserver-vesta.herokuapp.com/Img/Logo_Mesa%20de%20trabajo%201.png" >
    </div>

    <div class="">
        <br>
        <br>
        <h2 class="text-center">Bienvenido/a a <a href="https://testingserver-vesta.herokuapp.com/" > VESTA-Z</a>     </h2>
        <br>
        <p class="card-text text-center">Estimado/a {{name}},</p>
        <p class="text-center">¡Muchas gracias por haberse registrado!</p>
        <p class="text-center">Bienvenido a una revolución VESTiAL</p>
       <!-- <img src="./public/img/vesta_empresa.png" class="mx-auto d-block" width="250" height="200" >-->
       <br>
       <br>
       <p class="text-center"> Email de Usuario:</p>
       <p class="text-center">{{email}}</p>
       <p class="text-center"> Su número de cliente:</p>
       <p class="text-center">{{uidUser}}</p>
    </div>
    
    <div class="">
        <br>
        <br>
        <h6 class="text-center"><a href="https://testingserver-vesta.herokuapp.com/" > IR A VESTA-Z</a> </h6>
    </div>
  </div>

   
</body>
</html>