<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>passwordNotification Email</title>
   <style>
      *{
    box-sizing: border-box;/*espacion inter and exter*/
    margin: 0;
    padding: 0;
  }
  body {
    background: #ffffff;
    overflow-x: hidden;
    }

  .logoIcon{
    width: 230px;/*hacer pequemas imagenes*/
    filter: brightness(150%);
    background-color: black; 
  }
  .container{
    width: 100%;
    max-width: 25rem; /*max-width: 1250px;*/
    margin: 0 10;
    padding: 0;
  }
  .text-center{
    text-align: center;
    color: #000000;
  }
     
    </style>
</head>
<body>
  <div>
      <img  class="logoIcon " src="https://testingserver-vesta.herokuapp.com/Img/Logo_Mesa%20Vesta.png" >
  </div>
  <h2>Hello </h2>
  <p>Se ha cambiado el password desde: {{lugar}} </p>
  <p>Fecha:{{DateSending}}. </p>
  

</body>
</html>