<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Return Email</title>
   <!--Custom Css-->
    <style>
      *{
    box-sizing: border-box;/*espacion inter and exter*/
    margin: 0;
    padding: 0;
  }
  body {
    background: #ffffff;
    overflow-x: hidden;
    }

  .logoIcon{
    width: 230px;/*hacer pequemas imagenes*/
    filter: brightness(150%);
    background-color: black; 
  }
  .container{
    width: 100%;
    max-width: 25rem; /*max-width: 1250px;*/
    margin: 0 10;
    padding: 0;
  }
  .text-center{
    text-align: center;
    color: #000000;
  }
  .text-justify{
    text-align: justify;
    color: #000000;
  }
  .text-left{
    text-align: left;
    color: #000000;
  }
     
    </style>
</head>
<body>
  <div class="continer text-center " >
    <div>
      <img  class="logoIcon " src="https://testingserver-vesta.herokuapp.com/Img/Logo_Mesa%20Vesta.png" >
    </div>

    <div class="">
      <br>
      <br>
      <h2 class="text-center">Soporte <a href="https://testingserver-vesta.herokuapp.com/" > VESTA-Z</a>     </h2>
      <br>
      <p class="card-text text-center">Estimado/a {{name}},</p>
      <br>
      <p class="text-justify">Vemos que has tenido problemas con tu producto, y que has solicitado nuestra ayuda a través del código {{idPedido}}. ¡No te preocupes, seguro que encontramos una solución! Eso sí, por favor, es importante que sigas las instrucciones:</p>
      <ol class="text-justify">
        <li>Entrega el producto completo con su caja y accesorios originales, en caso de que disponga de estos.</li>
        <li>Recuerda embalar los productos en una caja de cartón resistente, puedes reutilizar la caja en la que recibiste tu pedido</li>
        <li>No pongas adhesivos ni precintos en los embalajes originales del producto.</li>
        <li>Una vez preparado, entrega el producto a la agencia que pasará a recogerlo. No es necesario imprimir la etiqueta de envío, ya que la agencia dispone de todos los datos del pedido para recogerlo.</li>
        <li>Una vez recibido en nuestras instalaciones y comprobado el material se procederá a tramitar la solución.</li>
        <li>Si se detecta cualquier anomalía se rechazará el paquete a portes debidos para el cliente.</li>
      </ol>
       <br>
        <p class="text-justify">Para responder o añadir cualquier tipo de información, es importante que respondas directamente a este correo.</p>
       <br>
        <p class="text-left">Un saludo,</p>
       <br>
        <p class="text-left">Soporte Vezta-Z.</p>
       <!-- <img src="./public/img/vesta_empresa.png" class="mx-auto d-block" width="250" height="200" >-->
       <br>
       <br>
    </div>
    
    <div class="">
        <br>
        <br>
        <h6 class="text-center"><a href="https://testingserver-vesta.herokuapp.com/" > IR A VESTA-Z</a> </h6>
    </div>
  </div>

   
</body>
</html>